body {
    font-size:10%;
    background-image: url("../images/pizza_table.png");
    background-size: cover;
    text-align: center;

}

.upgrades h1 {
    font-size: 20px;
    background-color: transparent;
}

.upgrades {
    font-family: "Rubik Maps", system-ui;
    padding: 20px;
    padding-top: 0;
    background-color: rgb(255, 187, 0);
    width: 25%;
    border-radius: 20px;
    margin: auto;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#coins {
    background-color: transparent;
    margin:0;
    padding: 0;
    margin-bottom: -20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.upgrades > div {
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    margin:0;

}

.rubik-maps-regular {
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
}

.upgrades input[type=button] {
    width: 80px;
    background-color: orange;
    border-radius: 10px;
}

input[type=button]:hover {
    background-color: rgb(187, 127, 16);
    cursor: pointer;
}

.updatebox{
  display:flex;
  gap: 24px;
  align-items:flex-start;
}

#buttons{
  display:flex;
  flex-direction:column;
  gap: 48px;
  align-items:flex-start;   
}

.upgrade-item h3 {
    font-size: 17px;
    margin: 0;
}
.upgrade-item p {
    font-size: 11px;
    margin: 0;
}

#purchase {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.updatebox {
    display: flex;
    align-items: flex-start;
}

.upgrade-item{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  text-align:left;
}

#coin {
    display: block;
}

.count {
    margin-left: auto;
    margin-top: -30px;
}

