body {
    font-family: "Rubik Maps", sans-serif;
    font-size: 20px;
    background-image: url("../images/pizza_table.png");
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 20px;
    font-size: 40px;
    color: #fff;
}

#wrapper {
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    gap: 50px;
    margin-top: 40px;
}

#click-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pizza {
    width: 500px;
    cursor: pointer;
    transition: transform 0.1s;
}

#pizza:active {
    transform: scale(0.95);
}

#pizza-count {
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
}

.upgrades {
    width: 300px;
    padding: 20px;
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#coins {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -10px;
}

.upgrades h1 {
    font-size: 20px;
    margin: 0;
}

.updatebox {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.upgrade-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upgrade-item h3 {
    margin: 0;
    font-size: 17px;
}

.upgrade-item p {
    margin: 0;
    font-size: 12px;
}

.count h2 {
    margin: 0;
}

.upgrades input[type=button] {
    width: 80px;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
}

.upgrades input[type=button]:hover {
    background-color: rgb(187, 127, 16);
}
