body {
    font-size:100%;
    background-image: url("../images/pizza_table.png");
    background-size: cover;
    text-align: center;
    font-family: "Rubik Maps", system-ui;

}

.upgrades h1 {
    font-size: 20px;
    background-color: transparent;
}

header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;  
    font-size: 40px;
    margin: auto;
    color: rgb(255, 187, 0);
}

.upgrades {
    font-family: "Rubik Maps", system-ui;
    padding: 20px;
    padding-top: 0;
    background-color: rgb(255, 187, 0);
    width: 25%;
    border-radius: 20px;
    margin: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 190px;

}


#click-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-left: 380px;

}

#pizza {
    width: 500px;
    cursor: pointer;
    transition: transform 0.1s;
}

#pizza:active {
    transform: scale(0.95);
}

#pizza-count {
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
}

#coins {
    background-color: transparent;
    margin:0;
    padding: 0;
    margin-bottom: -20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.upgrades > div {
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    margin:0;

}

.rubik-maps-regular {
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
}

.upgrades input[type=button] {
    width: 80px;
    background-color: orange;
    border-radius: 10px;
}

input[type=button]:hover {
    background-color: rgb(187, 127, 16);
    cursor: pointer;
}

.updatebox{
  display:flex;
  gap: 24px;
  align-items:flex-start;
}

#buttons{
  display:flex;
  flex-direction:column;
  gap: 48px;
  align-items:flex-start;   
}

.upgrade-item h3 {
    font-size: 17px;
    margin: 0;
}
.upgrade-item p {
    font-size: 11px;
    margin: 0;
}

#purchase {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.updatebox {
    display: flex;
    align-items: flex-start;
}

.upgrade-item{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  text-align:left;
}

#coin {
    display: block;
}

.count {
    margin-left: auto;
    margin-top: -30px;
}

.prizes {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.rewards img {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;

}

#title h1{
    font-size: 20px;
}

#title {
    background-color: beige;
    border-radius: 20px;
    font-family: "Rubik Maps", system-ui;
}

.rewards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 187, 0);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-self: flex-start;
    position: fixed;      
    bottom: 60px;    

}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
}

.rewards img { 
    opacity: 0.25; 
}
.rewards img.unlocked {
    opacity: 1; 
}

#rewardmsg{
  display:none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#rewardmsg h2{
  color: black;
  font-size: 50px;  
  background-color: rgba(255,187,0,0.85);  /* yellow ONLY behind text */
  padding: 20px 35px;
  border-radius: 20px;
}


.scores {
    display: flex;
    flex-direction: row;
    gap:50px;
}


.scores img {
    display:flex;
    flex-direction: row;

}


#scoretitle h1{
    font-size: 20px;
    padding-left: 90px ;
    padding-right: 90px ;
}

#scoretitle {
    background-color: beige;
    border-radius: 20px;
    font-family: "Rubik Maps", system-ui;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 187, 0);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-self: flex-start;
    position: fixed;      
    bottom: 60px;   
    
    position: fixed;
    top: 70px;     
    left: 40px;    

    align-items: center; 
    width: 350px;

}